<div class="container-lg">
  <div class="row py-5 justify-content-between">
    <div class="col-xl-7">
      <section>
        <h1>
          Quam Tristique Condimentum
        </h1>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <em>Curabitur blandit</em> tempus porttitor.
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod
          semper.</p>
        <div class="row">
          <div class="col-md-8">
            <h2>
              Fringilla Euismod Adipiscing Ipsum
            </h2>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus
              mollis interdum. Aenean lacinia bibendum nulla sed.
            </p>
            <ol>
              <li>
                <span class="counter-first"></span>
                <p>Tellus Ullamcorper Inceptos</p>
              </li>
              <li>
                <ol>
                  <li>
                    <span class="counter-second"></span>
                    <p>Mattis Tristique<p>
                  </li>
                  <li>
                    <span class="counter-second"></span>
                    <p>
                    Pharetra Pellentesque Dapibus
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <span class="counter-first"></span>
                <p>Aenean Inceptos</p>
              </li>
              <li>
                <span class="counter-first"></span>
                <p>Parturient Bibendum</p>
              </li>
            </ol>
          </div>
          <div class="col-md-4">
            <img width="240" height="180" src="https://i.imgur.com/a9bA4V8.png" alt="">

          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-4">
      <section>
        <app-compensation-calculator></app-compensation-calculator>
      </section>
    </div>
  </div>
</div>
